header h1 {
    padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
    color: #494949;/*文字色*/
    background: #f4f4f4;/*背景色*/
    border-left: solid 5px #7db4e6;/*左線*/
    border-bottom: solid 3px #d7d7d7;/*下線*/
}

#hello{
    border:double;
}

.explanation{
    padding: 8px 19px;
    margin: 2em 0;
    color: #2c2c2f;
    background: #cde4ff;
    border-top: solid 5px #5989cf;
    border-bottom: solid 5px #5989cf;
}

.explanation p {
    margin: 0; 
    padding: 0;
}

table th{/*thに対して*/
    color: #FF9800;/*文字色*/
    background: #fff5e5;/*背景色*/
}

th,td{
    padding: 3px 5px;
}